:root {
  /* add the colors */
  --body-bg: #f0f1f1;
  --white-bg: #ffffff;
  /* add fonts */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
  line-height: 1.8;
  background-color: var(--body-bg);
}

/* Global Classes */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.119);
}
.modal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modal-flex-direction {
  flex-direction: column;
}
.box-radius {
  border-radius: 1.4rem;
}

/* Custom Modals */
.big-goal-modal-content {
  background-color: #fefefe;
  border: none;
  border-radius: 1.4rem;
  padding: 3rem;
  max-width: 600px;
  width: 100%;
}

/* Error message banner */
.error-banner {
  position: fixed;
  top: 1rem;
  right: 0;
  width: 350px;
  z-index: 1000;
}
.error-alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
}
.error-close {
  margin-left: 10px;
  align-self: center;
}

/* HEADER */
.header-height {
  height: 60px;
}

/* HOME PAGE - BIG GOALS */
.big-goals {
  padding: 2.5rem;
  background-color: var(--white-bg);
}
.big-goal-box {
  padding: 2.5rem;
  cursor: pointer;
}

/* HOME PAGE - DAILY SYSTEMS */
.daily-systems {
  padding: 2.5rem;
  background-color: var(--white-bg);
}

/* BIG GOAL PAGE */
.big-goal-section,
.daily-systems-section,
.checkpoint-goals-section,
.anti-goals-section {
  padding: 2rem;
  background-color: var(--white-bg);
}

.big-goal-section {
}
.daily-systems-section {
}
.checkpoint-goals-section {
}
.anti-goals-section {
}

/* Custom CSS for the timeline */
.timeline {
  background-color: transparent;
  overflow: scroll;
  white-space: nowrap;
}
.timeline-item {
  display: inline-block;
  /* width: 21rem;
  height: 38rem; */
  /* background-color: #f4f4f4;
  border-radius: 1rem;
  overflow: scroll; */
}
.timeline-item--head {
}
.timeline-item--body {
  /* display: inline-block; */
  width: 21rem;
  height: 38rem;
  background-color: #f4f4f4;
  border-radius: 1rem;
  overflow: scroll;
}

/* MEDIA QUERIES */
@media screen and (min-width: 450px) {
  .modal-flex-direction {
    flex-direction: row;
  }
}
