:root {
  /* add the colors */

  /* add fonts */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
  line-height: 1.8;
}

/* Global Classes */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.119);
}
.modal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.box-radius {
  border-radius: 1.4rem;
}

/* Custom Modals */
.big-goal-modal-content {
  background-color: #fefefe;
  border: none;
  border-radius: 1.4rem;
  padding: 3rem;
  max-width: 600px;
  width: 100%;
}

/* Error message banner */
.error-banner {
  position: fixed;
  top: 1rem;
  right: 0;
  width: 350px;
  z-index: 1000;
}
.error-alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
}
.error-close {
  margin-left: 10px;
  align-self: center;
}

/* HEADER */
.header-height {
  height: 60px;
}
