{% extends "goals_tracker/layout.html" %} {% block title %} Home - Goal
Tracker{%endblock %} {% block body %}

<main class="py-1" id="big-goal-page">
  <!-- Go back to HOME -->
  <div class="align-self-center mb-5">
    <a href="{% url 'goals_tracker:index' %}">
      <button class="border-0 bg-transparent fs-2">
        <i class="bi bi-arrow-left"></i>
      </button>
    </a>
  </div>

  <div class="">
    {% comment %} Big Goal Data Section {% endcomment %}
    <section class="big-goal-section box-radius">
      {% comment %} header {% endcomment %}
      <div class="d-flex justify-content-between">
        <h1>{{ big_goal.title }}</h1>
        <span>ends in {{ big_goal.deadline }}</span>
      </div>
      {% comment %} body {% endcomment %}
      <div>
        <p>{{ big_goal.description }}</p>

        <input
          type="hidden"
          id="no-edit-title-hidden"
          value="{{title_unedited}}"
        />
        <input type="hidden" id="title-hidden" value="{{title}}" />
        <input type="hidden" id="start-hidden" value="{{timeline.start}}" />
        <input type="hidden" id="deadline-hidden" value="{{timeline.deadline}}" />

        <div class="mt-5">
          <div class="timeline" id="timeline">
            {% for date in timeline.all_dates %}
            <div class="timeline-item">
              <div class="timeline-item--head">
                <!-- MONTH -->
                <h4>
                  {% with month_number=date|slice:":2" %} 
                    {% if month_number == "01" %} January 
                    {% elif month_number == "02" %} February 
                    {% elif month_number == "03" %} March 
                    {% elif month_number == "04" %} April 
                    {% elif month_number == "05" %} May 
                    {% elif month_number == "06" %} June 
                    {% elif month_number == "07" %} July 
                    {% elif month_number == "08" %} August 
                    {% elif month_number == "09" %} September 
                    {% elif month_number == "10"%} October 
                    {% elif month_number == "11" %} November 
                    {% elif month_number == "12" %} December 
                    {% endif %} 
                  {% endwith %}
                </h4>
                <!-- DATE -->
                <h5 class="text-center">
                  {% if date|length >= 8 %} 
                    {{ date|slice:"3:" }} 
                  {% else %} 
                    {{ date }} 
                  {% endif %}
                </h5>
              </div>
              <div class="timeline-item--body">
                {% for system in daily_systems %}
                  <div>{{ system.action }}</div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <!-- Daily System -->
    <section class="daily-systems-section box-radius mt-4">
      <div class="d-flex justify-content-between mb-4">
        <h2>Daily Systems</h2>
        <button
          class="border bg-transparent py-2 px-3 fs-5 rounded-circle"
          id="open-daily-system-modal"
        >
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>

      <!-- Daily System Modal -->
      <div id="daily-system-modal" class="modal">
        <div class="modal-center">
          <div
            class="daily-system-modal-content"
            id="daily-system-modal-content"
          >
            {% comment %} Header {% endcomment %}
            <h3 class="fw-light mb-5">
              What would you do <span class="fst-italic fw-normal"> daily</span> to make it a reality?
            </h3>

            {% comment %} Body {% endcomment %}
            <form id="daily-system-form">
              {% csrf_token %}
              <div class="mb-5">
                <input
                  autofocus
                  class="form-control p-4 fs-4 bg-body-tertiary box-radius"
                  type="text"
                  id="daily-system-title"
                  name="daily-system-title"
                  required
                />
              </div>

              <div class="d-flex justify-content-end gap-4">
                <button
                  type="button"
                  id="close-daily-system-modal"
                  class="p-4 border-0 bg-transparent fs-4 box-radius"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="p-4 border-0 bg-success-subtle fs-4 box-radius"
                >
                  Create Daily System
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="d-flex flex-wrap gap-4">
        {% for system in daily_systems %}
        <div class="daily-action-box">{{ system.action }}</div>
        {% empty %}
        <div>No Daily Systems. Create One Now.</div>
        {% endfor %}
      </div>
    </section>
  </div>

  <div class="row g-0 gap-4 mt-4">
    <section class="col-md checkpoint-goals-section box-radius">
      <div class="d-flex justify-content-between mb-4">
        <h2>Checkpoint Goals</h2>
        <button
          class="border bg-transparent py-2 px-3 fs-5 rounded-circle"
          id="open-checkpoint-goal-modal"
        >
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>

      <!-- Checkpoint Goal Modal -->
      <div id="checkpoint-goal-modal" class="modal">
        <div class="modal-center">
          <div
            class="checkpoint-goal-modal-content"
            id="checkpoint-goal-modal-content"
          >
            {% comment %} Header {% endcomment %}
            <h3 class="fw-normal mb-5">Create your Checkpoint Goal</h3>

            {% comment %} Body {% endcomment %}
            <form id="checkpoint-goal-form">
              {% csrf_token %}
              
              <div class="d-flex mb-5 gap-4 modal-flex-direction">
                <div class="flex-grow-1">
                  <label for="checkpoint-goal-title" class="form-label fs-4">Title</label>
                  <input autofocus class="form-control p-4 fs-4 bg-body-tertiary box-radius" type="text"
                    id="checkpoint-goal-title" name="checkpoint-goal-title" required />
                </div>
                <div class="">
                  <label for="checkpoint-goal-date" class="form-label fs-4">Date</label>
                  <input class="form-control p-4 fs-4 bg-body-tertiary box-radius" type="date" id="checkpoint-goal-date"
                    name="checkpoint-goal-date" required />
                </div>
              </div>

              <div class="mb-5">
                <label for="checkpoint-goal-description" class="form-label fs-4">Description</label>
                <textarea class="form-control p-4 fs-4 bg-body-tertiary box-radius" id="checkpoint-goal-description"
                  name="checkpoint-goal-description" placeholder=""></textarea>
              </div>

              <div class="d-flex justify-content-end gap-4">
                <button
                  type="button"
                  id="close-checkpoint-goal-modal"
                  class="p-4 border-0 bg-transparent fs-4 box-radius"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="p-4 border-0 bg-success-subtle fs-4 box-radius"
                >
                  Create Checkpoint Goal
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      {% for cp_goal in checkpoint_goals %}
      <div>
        <p>{{ cp_goal.title }}</p>
        <p>{{ cp_goal.description }}</p>
        <p>{{ cp_goal.date }}</p>
      </div>
      {% empty %}
      <div>No Checkpoint Goals. Create One Now.</div>
      {% endfor %}
    </section>

    <section class="col-md anti-goals-section box-radius">
      <div class="d-flex justify-content-between mb-4">
        <h2>Anti Goals</h2>
        <button
          class="border bg-transparent py-2 px-3 fs-5 rounded-circle"
          id="open-anti-goal-modal"
        >
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>

      <!-- Anti Goal Modal -->
      <div id="anti-goal-modal" class="modal">
        <div class="modal-center">
          <div
            class="anti-goal-modal-content"
            id="anti-goal-modal-content"
          >
            {% comment %} Header {% endcomment %}
            <h3 class="fw-light mb-5">
              What would you <span class="fst-italic fw-normal">not allow to happen</span> as you work towards your Big Goal?
            </h3>

            {% comment %} Body {% endcomment %}
            <form id="anti-goal-form">
              {% csrf_token %}
              <div class="mb-5">
                <textarea class="form-control p-4 fs-4 bg-body-tertiary box-radius" id="anti-goal-description"
                  name="anti-goal-description" required></textarea>
              </div>

              <div class="d-flex justify-content-end gap-4">
                <button
                  type="button"
                  id="close-anti-goal-modal"
                  class="p-4 border-0 bg-transparent fs-4 box-radius"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="p-4 border-0 bg-success-subtle fs-4 box-radius"
                >
                  Create Anti Goal
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      {% for xgoal in anti_goals %}
      <div>{{ xgoal.description }}</div>
      {% empty %}
      <div>No Anti Goals. Create One Now.</div>
      {% endfor %}
    </section>
  </div>
</main>

{% endblock %}
