{% extends "goals_tracker/layout.html" %}

{% block title %} Home - Goal Tracker {% endblock %}

{% block body %}

<main class="py-5" id="home-page">
  {% comment %} WELCOME {% endcomment %}
  <section class="d-flex justify-content-between mb-5">
    <div class="align-self-center d-flex box-radius page-status">
      <a href="{% url 'goals_tracker:index' %}" class="page-status--box page-status--box-on">
        <h4 class="fw-light m-0">Dashboard</h4>
      </a>
      <a href="{% url 'goals_tracker:big_goals' %}" class="page-status--box page-status--box-off">
        <h4 class="fw-light m-0">All Big Goals</h4>
      </a>
    </div>

    <div class="text-body-tertiary fs-2">
      <span id="greetings"></span>, {{ username }}
    </div>
  </section>

   {% comment %} All Daily Systems {% endcomment %}
   <section class="box-radius daily-systems mb-5">
    <div class="mb-5">
      <h2>All tasks today</h2>
    </div>
      
    <div id="all-daily-systems" class="d-flex flex-wrap gap-4"></div>
  </section>
</main>

{% endblock %}