{% extends "goals_tracker/layout.html" %}

{% block title %}Home - Goal Tracker{% endblock %}

{% block body %}
<div class="container-xl p-4">
  <header class="d-flex justify-content-between mb-5 header-height">
    <div class="align-self-center">
      <p class="display-6 m-0">Goal Tracker</p>
    </div>

    <div class="align-self-center">
      <a href="{% url 'goals_tracker:logout' %}">
        <button class="border-0 bg-transparent fs-2">
          <i class="bi bi-box-arrow-right"></i>
        </button>
      </a>
    </div>
  </header>

  <section>
    <h1>
      Welcome, {{ first_name }}!
    </h1>
  </section>

  <main class="py-1">
    <div id="home" class="mb-5"></div>

    <div id="top-goal" class="mb-5"></div>
  </main>
</div>
{% endblock %}